@use './utils/mixins' as *;
@use './variables' as var;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var.$primaryFont;
}
