// rwd break points
$small: 480px;
$medium: 768px;
$large: 1280px;

// fonts
$primaryFont: 'DM Sans', sans-serif;
$secondaryFont: 'Titan One', cursive;

// colors
$white: #ffffff;
$black: #000000;
$pink_bg: #ffb8ca;
$lightPink: #ffa5ba;
$red: #d41443;
$darRed: #c7133e;
$grey: #ecebeb;
