// rwd break points
$small: 480px;
$medium: 768px;
$large: 1280px;

// fonts
$primaryFont: 'DM Sans', sans-serif;
$secondaryFont: 'Titan One', cursive;

// colors
$white: #ffffff;
$black: #000000;
$pink_bg: #ffb8ca;
$brown_bg: #f0d1a5;
$green_bg: #c2e297;
$lightPink: #ffa5ba;
$menuPink: #e18298;
$darkPink: #e17992;
$red: #d41443;
$darkRed: #c7133e;
$grey: #ecebeb;
