@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  16% {
    transform: rotate(5deg);
  }
  32% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(2deg);
  }
  66% {
    transform: rotate(-2deg);
  }
  82% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes moveUp {
  0% {
    transform: translate(-46px, 100%);
  }
  100% {
    transform: translate(-46px, 0);
  }
}
