<section class="contacts" id="contact">
  <div class="contacts__container">
    <h2 class="contacts__heading">advantages</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__label contacts__label--bg-brown">
          <p class="contacts__category">CAFE</p>
        </div>
        <p class="contacts__city">Chicago</p>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__hours-list">
          <li class="contacts__hours-item">
            <p class="contacts__hours">Monday - Friday</p>
            <p class="contacts__hours contacts__hours--pink">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__hours-item">
            <p class="contacts__hours">Saturday - Sunday</p>
            <p class="contacts__hours contacts__hours--pink">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__link-list">
          <li><a class="contacts__link" href="tel:+61383766284">+61(0) 383 766 284</a></li>
          <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="contacts__label contacts__label--bg-green">
          <p class="contacts__category">FOODTRUCK</p>
        </div>
        <p class="contacts__city">Los Angeles</p>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__hours-list">
          <li class="contacts__hours-item">
            <p class="contacts__hours">Monday - Friday</p>
            <p class="contacts__hours contacts__hours--pink">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__hours-item">
            <p class="contacts__hours">Saturday - Sunday</p>
            <p class="contacts__hours contacts__hours--pink">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__link-list">
          <li><a class="contacts__link" href="tel:+61383766284">+61(0) 383 766 284</a></li>
          <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="contacts__label contacts__label--bg-brown">
          <p class="contacts__category">CAFE</p>
        </div>
        <p class="contacts__city">New York</p>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts__hours-list">
          <li class="contacts__hours-item">
            <p class="contacts__hours">Monday - Friday</p>
            <p class="contacts__hours contacts__hours--pink">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__hours-item">
            <p class="contacts__hours">Saturday - Sunday</p>
            <p class="contacts__hours contacts__hours--pink">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__link-list">
          <li><a class="contacts__link" href="tel:+61383766284">+61(0) 383 766 284</a></li>
          <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__btn-list">
      <li class="contacts__btn">
        <a href="#" class="contacts__btn-link contacts__btn-link--red"
          >Our Locations
          <svg
            class="contacts__btn-link-icon"
            width="7"
            height="10"
            viewBox="0 0 7 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.74213 1L5.76728 5L1.74213 9"
              stroke="#ffffff"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg
        ></a>
      </li>
      <li class="contacts__btn">
        <a href="#" class="contacts__btn-link contacts__btn-link--grey"
          >Franchise
          <svg
            class="contacts__btn-link-icon"
            width="7"
            height="10"
            viewBox="0 0 7 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.74213 1L5.76728 5L1.74213 9"
              stroke="#D41443"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
