<section class="gallery">
  <div class="gallery__container">
    <!-- <div class="gallery__grid"></div> -->

    <picture class="gallery__grid">
      <source
        srcset="./images/gallery/gallery_large.png 1x, ./images/gallery/gallery_large@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/gallery/gallery_medium.png 1x, ./images/gallery/gallery_medium@2x.png 2x"
        media="(min-width: 320px)"
      />
      <img src="./images/gallery/gallery_medium.png" alt="gallery" />
    </picture>
  </div>
</section>
