<header class="header">
  <div class="header__container">
    <ul class="header__menu">
      <li class="header__menu-item">
        <a href="#">
          <picture class="header__logo">
            <source srcset="./images/header/logo.png 1x, ./images/header/logo@2x.png 2x" />
            <img src="./images/header/logo.png" alt="logo" /></picture
        ></a>
      </li>
      <li class="header__menu-item">
        <nav class="menu"></nav>
      </li>
      <li class="header__menu-item">
        <button class="header__btn-menu" type="button">
          <svg
            width="20"
            height="14"
            viewBox="0 0 20 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M0 1H20" stroke="#D41443" />
            <path d="M0 7H20" stroke="#D41443" />
            <path d="M0 13H20" stroke="#D41443" />
          </svg>
        </button>
      </li>
      <li class="header__menu-item">
        <a href="#" class="header__btn-link"
          >Buy now
          <svg
            class="header__btn-link-icon"
            width="7"
            height="10"
            viewBox="0 0 7 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.74213 1L5.76728 5L1.74213 9"
              stroke="#D41443"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg
        ></a>
      </li>
    </ul>
    <section class="header__hero">
      <h1 class="header__heading">
        ice cream made with <span class="header__heading header__heading--highlight">passion</span>
      </h1>
      <ul class="header__btn-list">
        <li><a class="header__btn header__btn--red" href="#">Products</a></li>
        <li>
          <a class="header__btn header__btn--white" href="#">How it’s made?</a>
        </li>
      </ul>
      <div class="header__circle"></div>
      <div class="header__box-center">
        <picture>
          <source
            srcset="
              ./images/header/icecream_medium.png    1x,
              ./images/header/icecream_medium@2x.png 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="./images/header/icecream_small.png 1x, ./images/header/icecream_small@2x.png 2x"
            media="(min-width: 320px)" />
          <img src="./images/header/icecream_small.png" alt=""
        /></picture>
      </div>
      <div class="header__box-left">
        <picture>
          <source
            srcset="./images/header/milk_medium.png 1x, ./images/header/milk_medium@2x.png 2x"
            media="(min-width: 768px)" />
          <img src="./images/header/milk_medium.png" alt=""
        /></picture>
        <div class="header__box-left-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <a href="#" class="header__hero-link"
            ><picture>
              <source
                srcset="./images/header/btn_medium.png 1x, ./images/header/btn_medium@2x.png 2x"
                media="(min-width: 768px)" />
              <img src="./images/header/btn_medium.png" alt="" /></picture
          ></a>
        </div>
      </div>
      <div class="header__box-right">
        <picture>
          <source
            srcset="./images/header/tasty_medium.png 1x, ./images/header/tasty_medium@2x.png 2x"
            media="(min-width: 768px)" />
          <img src="./images/header/tasty_medium.png" alt=""
        /></picture>
      </div>
      <div class="header__box-cafes">
        <p class="header__box-number">16</p>
        <p class="header__box-dscr">cafes</p>
      </div>
      <div class="header__box-trucks">
        <p class="header__box-number">23</p>
        <p class="header__box-dscr">food trucks</p>
      </div>
    </section>
  </div>
</header>
