<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu__container">
    <button class="mobile-menu__close-btn js-close-menu">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1.25928 1L14.7408 15" stroke="white" />
        <path d="M1 14.7407L15 1.25924" stroke="white" />
      </svg>
    </button>
    <a href="#" class="mobile-menu__btn-link"
      >Buy now
      <svg
        class="mobile-menu__btn-link-icon"
        width="7"
        height="10"
        viewBox="0 0 7 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.74213 1L5.76728 5L1.74213 9"
          stroke="#D41443"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        /></svg
    ></a>
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#home" class="mobile-menu__link mobile-menu__link--red">Home</a>
      </li>
      <li class="mobile-menu__item"><a href="#about-us" class="mobile-menu__link">About us</a></li>
      <li class="mobile-menu__item">
        <a href="#how-its-made" class="mobile-menu__link">How it’s made?</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#our-products" class="mobile-menu__link">Our products</a>
      </li>
      <li class="mobile-menu__item"><a href="#contact" class="mobile-menu__link">Contact</a></li>
    </ul>
  </div>
</div>
