@use '../utils/mixins' as *;
@use '../variables' as var;

.about {
  background-color: var.$pink_bg2;
  &__container {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__heading-label {
    font-family: var.$secondaryFont;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: var.$lightPink;
    padding-top: 125px;
  }
  &__heading {
    font-family: var.$secondaryFont;
    font-size: 34px;
    line-height: 1.15;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var.$red;
    padding: 15px 60px 26px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__description-box {
    padding-top: 46px;
    background-image: url('../images/about/milk-bg_small.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 61px left 0;
  }
  &__text {
    padding: 0 50px 47px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: var.$black;
    &--light {
      color: var.$darkGrey;
      padding: 0 50px 19px;
    }
  }
  &__text-paragraph {
    display: block;
    padding: 0 50px 19px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.58;
    color: var.$darkGrey;
  }
  &__btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var.$white;
    border-radius: 22px;
    width: 176px;
    height: 44px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: var.$red;
    margin-left: 50px;
    &:hover,
    &:focus {
      background: var.$grey;
    }
  }
  &__btn-link-icon {
    margin-left: 14px;
    transform: translateY(1px);
  }
}

@include retina {
  .about {
    &__description-box {
      background-image: url('../images/about/milk-bg_small@2x.png');
    }
  }
}

@include rwd(var.$small) {
  .about {
    &__container {
      width: 480px;
      margin: 0 auto;
    }
  }
}

@include rwd(var.$medium) {
  .about {
    &__container {
      width: 768px;
    }
    &__heading-label {
      font-size: 26px;
      line-height: 1.15;
      padding-top: 130px;
    }
    &__heading {
      font-size: 48px;
      line-height: 1.15;
      padding: 16px 0 50px;
    }
    &__content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 17px;
    }
    &__picture {
      width: 340px;
      height: auto;
    }
    &__description-box {
      padding-top: 50px;
      background-image: none;
    }
    &__text {
      width: 340px;
      padding: 0 0 25px;
      font-size: 14px;
      line-height: 1.79;
      &--light {
        color: var.$darkGrey;
        padding: 0 0 25px;
      }
    }
    &__text-paragraph {
      padding: 0 0 62px;
      font-size: 14px;
      line-height: 1.79;
      color: var.$darkGrey;
    }
    &__btn-link {
      font-size: 16px;
      line-height: 1.31;
      margin-left: 0;
      &:hover,
      &:focus {
        background: var.$grey;
      }
    }
  }
}
