@use '../utils/mixins' as *;
@use '../variables' as var;

.contacts {
  background: linear-gradient(to bottom, var.$white 84px, var.$pink_bg2 84px);
  &__container {
    min-width: 320px;
  }
  &__list {
    margin-top: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    width: calc(100% - 100px);
    background: var.$white;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 43px 21px 43px 20px;
  }
  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    border-radius: 4px;
    margin-bottom: 25px;
    &--bg-brown {
      background-color: var.$brown_bg;
      width: 80px;
    }
    &--bg-green {
      background-color: var.$green_bg;
      width: 130px;
    }
  }
  &__category {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    text-align: center;
    letter-spacing: 0.04em;
    color: var.$white;
    transform: translateY(1px);
  }
  &__city {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    margin-bottom: 10px;
  }
  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: var.$darkGrey;
    margin-bottom: 25px;
  }
  &__hours-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 25px 0;
  }
  &__hours {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    &--pink {
      color: var.$lightPink;
    }
  }
  &__link-list {
    margin-top: 25px;
  }
  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: var.$darkGrey;
    &:hover,
    &:focus {
      color: var.$red;
    }
  }
  &__btn-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
  }
  &__btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    width: 161px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    &--red {
      background: var.$red;
      color: var.$white;
    }
    &--grey {
      background: var.$white;
      color: var.$red;
      &:hover,
      &:focus {
        background: var.$grey;
      }
    }
  }
  &__btn-link-icon {
    margin-left: 14px;
    transform: translateY(1px);
  }
}

@include rwd(var.$small) {
  .contacts {
    &__container {
      width: var.$small;
      margin: 0 auto;
    }
  }
}
