@use '../utils/mixins' as *;
@use '../variables' as var;

.header {
  position: relative;
  background-color: var.$pink_bg;
  z-index: 1;
  overflow: hidden;
  &__container {
    padding: 6px 20px;
    min-width: 320px;
    height: 502px;
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu-item:nth-of-type(2),
  &__menu-item:nth-of-type(4) {
    display: none;
  }
  &__logo {
    display: block;
  }
  &__btn-menu {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }
  // &__hero {
  // }
  &__heading {
    font-family: var.$secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var.$white;
    margin-top: 137px;
    margin-right: 62px;
    max-width: 230px;
    @include transition(transform, 500ms);
    &--highlight {
      font-size: 48px;
      line-height: 0.96;
      color: var.$red;
      padding: 0;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  &__btn-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-top: 19px;
  }
  &__btn {
    height: 24px;
    border-radius: 20px;
    border: none;
    font-size: 8px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(background-color, 250ms);
    &--red {
      background-color: var.$red;
      color: var.$white;
      width: 62.4px;
      &:hover,
      &:focus {
        background-color: var.$darRed;
      }
    }
    &--white {
      background-color: var.$white;
      color: var.$red;
      width: 82.8px;
      &:hover,
      &:focus {
        background-color: var.$grey;
      }
    }
  }
  &__circle {
    position: absolute;
    left: 50%;
    transform: translateX(-124px);
    bottom: 75px;
    width: 346px;
    height: 344px;
    border: none;
    border-radius: 50%;
    background-color: var.$lightPink;
    z-index: -1;
  }
  &__box-left {
    display: none;
  }
  &__box-right {
    display: none;
  }
  &__box-center {
    position: absolute;
    width: 171px;
    height: auto;
    bottom: 0%;
    left: 50%;
    transform: translate(-32px);
    z-index: -1;
  }
  &__box-cafes {
    display: none;
  }
  &__box-trucks {
    display: none;
  }
}

@include rwd(var.$small) {
  .header {
    &__container {
      width: 480px;
      margin: 0 auto;
    }
  }
}

@include rwd(var.$medium) {
  .header {
    &__container {
      width: 768px;
      padding: 37px 34px 0 34px;
      min-width: 320px;
      height: 399px;
      margin: 0 auto;
    }
    &__menu {
      justify-content: flex-start;
    }
    &__menu-item:nth-of-type(4) {
      display: block;
    }
    &__btn-menu {
      margin-left: 291px;
    }
    &__btn-link {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      border-radius: 22px;
      width: 159px;
      height: 44px;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: var.$red;
      margin-left: 30px;
      &:hover {
        background-color: var.$grey;
      }
    }
    &__btn-link-icon {
      margin-left: 12.08px;
      transform: translateY(1px);
    }
    &__heading {
      font-size: 22px;
      line-height: 1.14;
      margin-top: 15px;
      margin-right: 62px;
      max-width: 162px;
      @include transition(transform, 500ms);
      &--highlight {
        font-size: 34px;
        line-height: 0.88;
      }
    }
    &__btn-list {
      padding-top: 20px;
    }

    &__circle {
      transform: translateX(-77px);
      bottom: 46px;
      width: 324px;
      height: 322px;
    }
    &__box-left {
      left: 50%;
      transform: translateX(-350px);
      bottom: 28px;
      position: absolute;
      display: flex;
    }
    &__box-left-text {
      width: 114px;
      font-size: 8px;
      line-height: 1.5;
      color: var.$white;
      transform: translateX(-4px);
      padding-top: 47px;
    }
    &__hero-link {
      display: inline-block;
      padding-top: 7px;
    }
    &__box-center {
      width: 143px;
      transform: translate(-6px);
    }
    &__box-right {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(182px);
    }
    &__box-cafes {
      display: block;
      position: absolute;
      top: 96px;
      left: 50%;
      transform: translateX(307px);
      &::after {
        content: '';
        display: block;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        background-color: var.$white;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transform: translate(7px, -2px);
      }
    }
    &__box-trucks {
      display: block;
      position: absolute;
      top: 152px;
      left: 50%;
      transform: translateX(299px);
      &::after {
        content: '';
        display: block;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        background-color: var.$white;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transform: translate(7px, -2px);
      }
    }
    &__box-number {
      font-family: var.$secondaryFont;
      font-size: 28px;
      line-height: 1.14;
      letter-spacing: 0.04em;
      text-align: right;
      text-transform: uppercase;
      color: var.$red;
    }
    &__box-dscr {
      font-size: 8px;
      line-height: 1.25;
      text-align: right;
      color: var.$white;
    }
  }
}
